/**
Template page d'accueil custom
 */

#header-inner {
  @include span-columns($large,$large);
  background: none;
}

/*Partie gauche du header*/

.headHaut {
  @include span-columns($large,$large);
  }

.logoHead {
 
 @include span-columns(4,$large);
  float: left;
  display: block;
  margin: 0;
  img {

    height: image-height;
 width: image-width;
    padding: 0;
    margin: 0;
  }
}

/*Menu pictos header*/

.menuImg {
  
  @include span-columns(6 omega,$large);
  background: transparent;
  
}

.navPicto {
  border: 0;
 
  td {
    border: 0;
   
    
    padding: em(5px);
  }
  a {
    border: 0;
    :hover {}
  }
}

/************PARTIE BASSE**************/

.headBas {
 
  float: none;
  display: block;
  margin: em(5px) 0 0 0;
  background: #cfd0d2 image-url ("bg_menu_rp.gif") repeat-x top left;
}

/*Menu principal haut du header*/

.menuHead {
  float: none;
  height: auto;
  padding: 0;
  width: em(990px);
}

.headSearch {
  text-align: right;
  margin: em(2px) 0 0 0;
  background: image-url ("bg_recherche.gif") no-repeat left em(5px);
    
}

.search {
 
  display: block;
  padding: 0 em(3px) 0 0;
}

.name-and-slogan {

  vertical-align: bottom;
  
}

.site-name {
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  padding: em(160px) 0 0 em(10px);
  margin: 0;
}

.site-slogan {
  color: white;
  display: block;
  float: left;
  
  padding: em(3px) 0 0 em(40px);
 
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}

/*FIN CSS HEADER*/
/*****************/

#mainPage {
    @include span-columns($large,$large);
  clear: none;
  background: image-url ("bg_content_etoile.gif") no-repeat left bottom;
}

/********************/
/*ZONES PAGE ACCUEIL*/

.content-bottom-home a {
  color: gray;
  font-weight: bold;
}

.HPDiapo {
  @include span-columns($large,$large);
  padding: em(10px) 0 0;
}

/****************/


.HPBasDroit {
  @include span-columns(6 omega,$large);
  background: none;
}

.HPBasGauche {
  @include span-columns(6,$large);
  background: none;
  color: black;
  ul li {
    list-style: square;
  }
  a {
    text-decoration: none;
  }
}

.HPBasDroit a {
  text-decoration: none;
}

.HPBasGauche a:hover, .HPBasDroit a:hover {
  text-decoration: underline;
}