/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- STYLES PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
// Styles globaux

/**-- style du fil d'ariane --**/

.ariane .breadcrumb {
  padding: 0 0 0 0.3em;
  color: #C0c0c0;
  text-decoration: none;
  a {
    color: #FFF;
    text-decoration: none;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}