

//*Réglage de la grille de Susy - approche mobile-first
$total-columns: 12;             // nombre de colonnes de la grille de base
$column-width: 3.80em;            // largeur de chaque colonnes (px,em,%)
$gutter-width: 0.75em;            // taille de la gouttière entre colonnes (px,em,%)
$grid-padding: $gutter-width/2;  // grid-padding equal to gutters

$container-style: magic; // default to magic. Switch to fluid or fixed if desired

//Réglage du nombre de colonnes pour at-breakpoint() mixin 
// qui simplifie les media-queries
$mobile   : 4;
$tablet   : 8;
$desktop  : 12;



/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- VARIABLES PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/


/*-------- Couleurs charte graphique PF ----*/
$vert : #ADC91F;
$violet: #911381;
$orange : #F29400;
$orange-fonce: #DE603A;
$bleu-turquoise: #01ABCF;
$rouge : #E3001C;
$rose-fushia : #E30078;
$jaune : #FAEB0C;
$gris-clair: #ECECED;
$gris-clair-moyen : #9898a6;
$gris-anthracite : #606070;
$noir: #000000;

// Ici paramétrer les couleurs pour l'annonce défilante
$color-defilant:#606070;
$color-defilant-a:#E3001C;

/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- FONCTIONS PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/



/* ==============================
  Mixins custom PROVENCE FORMATION
=================================*/



/*-------- IMAGES ADAPTABLES -----------*/
@mixin adaptable-img {
    max-width: 100%;
}