/*-------------------------------------|
|       FOOTER DU SITE                 |
|--------------------------------------*/

//Breakpoints pour Bourbon Neat
// @include at-breakpoint ($mobile){}
// @include at-breakpoint ($desktop){}
// @include at-breakpoint ($tablet){}

#footer{
    padding:em(30px) 0;
    color: #FFF;
    background: transparent image-url('bg_footer.jpg') no-repeat scroll right bottom;
    aside{
       
    }
    p{
        
    }
    a {
        color: #FFF;
        text-decoration: none;
        &:hover {
            color: #545665;
        }
    }
    @include at-breakpoint ($mobile){
        aside{
        background-color: teal;     
    }      
         @include background-size();
    }
    @include at-breakpoint ($desktop){
         @include background-size(auto);
          aside{
      background: yellowgreen;
    }  
         
    }
    @include at-breakpoint ($tablet){
        aside{
      background:sandybrown;
    }  
    }
}
/*Bas de page  FOOTER*/


#bloc_stats{
    color:red;        
}