/*-------------------------------------|
|       HEADER DU SITE                 |
|--------------------------------------*/

// Layout du header et de ses parties haute et basse (logique mobile first)
 #header {
     .headHaut {@include span-columns($mobile);
                .logoHead {  @include set-container-width;
                img{margin: 0 auto;display: block;}
                }
                .menuImg {  @include set-container-width;}
     }
     .headBas {@include span-columns($mobile);
               .site-slogan{@include span-columns($mobile);}
               .headSearch{@include span-columns($mobile);}
               .menuHead{@include span-columns($mobile);}
     }                
 
 

@include at-breakpoint($desktop) {/*    //Dimensions pour les pc*/
 .headHaut {@include set-container-width;
                .logoHead { @include span-columns(3,$desktop);}
                .menuImg {  @include span-columns(7 omega,$desktop);}
     }
     .headBas {@include span-columns($desktop);
               .site-slogan{@include span-columns(7,$desktop);}
               .headSearch{@include span-columns(9 omega,$desktop);}
               .menuHead{@include span-columns($desktop);}
     } 
}
@include at-breakpoint($tablet) {/*     //Dimensions pour les tablettes*/}
 }

 //Pour le dev, code visuel sur les blocs selon le breakpoint
// à commenter ou supprimer pour la production
 
#header {
     .headHaut {
                .logoHead { }
                .menuImg {  }
     }
     .headBas {background: red;
               .site-slogan{}
               .headSearch{}
               .menuHead{}
     }                
}
 
@include at-breakpoint($desktop) {/*    //Dimensions pour les pc*/
   #header {
     .headHaut {
                .logoHead { }
                .menuImg { background: #FFCCFF; }
     }
     .headBas {background: #00CC99;
               .site-slogan{}
               .headSearch{}
               .menuHead{}
     }                
}
}
/*---- HEADER HAUT ----*/
 


.logoHead {
   img {
    @include adaptable-img;
    padding: 0;
    margin: 0;
  }
}


//Navigation horizontale secondaire, responsive pour mobile
.navPicto {
    border: 0;

    td {
        border: 0;
        padding: em(5px);
    }
       
}
aside.navPicto{
     ul.horizontal-nav {
        @include horizontal-list;
        li {
            padding: 0;
            @include span-columns(1);
            img{@include adaptable-img;}
            a {
                // vertical alignment
                margin: 0 em(1px);
                border: 0;
                font-family: $AristaFont;
                color: $gris-anthracite;
                text-decoration: none;
                display: block;
                @include adjust-font-size-to(20px);
                &:hover {
                    color: $orange-fonce;


                }
            }
        }
    }
}


/*---- HEADER BAS ----*/

.headBas {
 //background: $rose-fushia;//Modifier la couleur du fond de la partie basse selon couleur du lycée
    margin: em(5px) 0 0 0;
  background: #cfd0d2 image-url ("bg_menu_rp.gif") repeat-x top left;
}

/*Menu principal haut du header*/

.menuHead {
  float: none;
  height: auto;
  padding: 0;
  
}

.headSearch {
  text-align: right;
  margin: em(2px) 0 0 0;
  background: image-url ("bg_recherche.gif") no-repeat left em(5px);
    
}

.search {
 
  padding: 0 em(3px) 0 0;
}

.name-and-slogan {

  vertical-align: bottom;
  
}

.site-name {
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  padding: em(160px) 0 0 em(10px);
  margin: 0;
}

.site-slogan {
  color: white;
  padding: em(3px) 0 0 em(4px);
 
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}

/*FIN CSS HEADER*/
/*****************/