/*
Défini les layouts possibles pour les node.tpl custom
Ne s'applique que si présence d'un node-TYPE.tpl.php
*/

/*//////////////////////\\\\\\\\\\\\\\\\\\\\\\
********** LAYOUT NODE.TPL OVERRIDE **********
\\\\\\\\\\\\\\\\\\\\\\\//////////////////////*/

/*//////////////// 1 COLONNE \\\\\\\\\\\\\\\\*/
body .conteneur{
    .col1_12{
        @include set-container-width();
    }
}

/*//////////////// 3 COLONNES \\\\\\\\\\\\\\\\*/
body .conteneur{
    .col1_layout_3_8_3{
       @include span-columns($mobile);
       
        overflow: hidden;
        @include at-breakpoint ($tablet){
            @include span-columns(2, $tablet);
            background: #00CC99;
        }
        @include at-breakpoint ($desktop){
           @include span-columns(3, $desktop);
            background: darkorange;
        }
    }
    .col2_layout_3_8_3{
       @include span-columns($mobile);
        
        background: khaki;
        overflow: hidden;
        @include at-breakpoint ($tablet){
           @include span-columns(4, $tablet);
            background: tomato;
        }
        @include at-breakpoint ($desktop){
          @include span-columns(6, $desktop );
          background: hotpink;
        }

    }
    .col3_layout_3_8_3{
        @include span-columns($mobile);
       
        background: #00c9fe;
        overflow: hidden;
        @include at-breakpoint ($tablet){
            @include span-columns(2 omega);
            background: purple;
        }
        @include at-breakpoint ($desktop){
           @include span-columns(3 omega, $desktop);
           background: teal;
        }

    }
}
//Pour un 3 colonnes egales : page pole
body .conteneur{
    .layout_3col_all4{
       @include span-columns($mobile);
        
        background: khaki;
        @include at-breakpoint ($tablet){
            @include span-columns(3, $tablet);
            background: tomato;
        }
        @include at-breakpoint ($desktop){
           @include span-columns(4, $desktop);
            background: indianred;
        }
    }
    .layout_3col_all4last{
       @include span-columns($mobile);
        
        background: khaki;
        @include at-breakpoint ($tablet){
            @include span-columns(2 omega, $tablet);
            background: tomato;
        }
        @include at-breakpoint ($desktop){
           @include span-columns(4 omega, $desktop);
            background: indianred;
        }
    }
}
/*//////////////// 2 COLONNES ASYMETRIQUES \\\\\\\\\\\\\\\\*/
body .conteneur{
    .col1_layout_4_8{
        @include at-breakpoint ($tablet){
            @include span-columns(3, $tablet);
            background: #00CC99;
        }
        @include at-breakpoint ($desktop){
            @include span-columns(4, $desktop);
            background: darkorange;
        }
    }
    .col2_layout_4_8{
        @include span-columns($mobile);
        
        background: khaki;
        @include at-breakpoint ($tablet){
            @include span-columns(5 omega, $tablet);
            background: tomato;
        }
        @include at-breakpoint ($desktop){
           @include span-columns(8 omega, $desktop);
            background: indianred;
        }

    }
  
  .col1_layout_3_9{}
  .col2_layout_3_9{}
  
  .col1_layout_2_10{}
  .col2_layout_2_10{}
  
  .col1_layout_5_7{}
  .col2_layout_5_7{}
  
  .col1_layout_6_6{}
  .col2_layout_6_6{}
  
  .col1_layout_7_5{}
  .col2_layout_7_5{}
  
  .col1_layout_8_4{}
  .col2_layout_8_4{}
  
  .col1_layout_9_3{}
  .col2_layout_9_3{}
  
  .col1_layout_10_2{}
  .col2_layout_10_2{}
}

/*//////////////// 4 COLONNES \\\\\\\\\\\\\\\\*/
body .conteneur{
    .layout_4col_all3{
       @include span-columns($mobile);
        
        background: khaki;
        @include at-breakpoint ($tablet){
            @include span-columns(2, $tablet);
            background: tomato;
        }
        @include at-breakpoint ($desktop){
           @include span-columns(3, $desktop);
            background: indianred;
        }
    }
    .layout_4col_all3last{
       @include span-columns($mobile);
        
        background: khaki;
        @include at-breakpoint ($tablet){
            @include span-columns(2 omega, $tablet);
            background: tomato;
        }
        @include at-breakpoint ($desktop){
           @include span-columns(3 omega, $desktop);
            background: indianred;
        }
    }
}