// Importer les fichiers scss partiels (avec _) afin de compiler le
// fichier css final utile pour le thème
// Activer compass via 
// webmaster@vm-server1:~$ compass watch /var/www/drupal6/sites/all/themes/THEMENAMEFOLDER/


html {
 margin: 0;
 padding: 0;
}


body {	
	font-family: $TrebuchetFont;
	
}

 /*------------------------------------------------------*
  *--------    CSS BLOCS     						 ----*
  *------------------------------------------------------*/

 
 //@include at-breakpoint ($mobile){}
  //@include at-breakpoint ($desktop){}
  //@include at-breakpoint ($tablet){}
 
/*-- LAYOUT PRINCIPAL --*/
body #general{
    //Approche mobile-first,réglage pour mobile
    @include container($total-columns, $desktop, $tablet);
    background: transparent;
    @include at-breakpoint ($mobile){
    padding-top: 0em;    
    #header{@include span-columns($mobile);}
    .content-top{//ok fonctionne 29/11
        //@include span-columns($mobile);
        @include set-container-width;
        clear: both;
    }
    .content-bottom{}
    .content-bottom-home{}
    #content-global{}
    #left-content{}
    #content-inner{}
    #middle-content{@include span-columns($mobile);}
    #right-content{}
    #footer{@include span-columns($mobile);
            @include background-size;}
    }


    @include at-breakpoint($desktop) {/*    //Dimensions pour les pc*/
        padding-top: 2em;
        @include set-container-width;

        background: transparent;
        #header{@include span-columns($desktop);}
        #content-global{@include span-columns($desktop);}
        .content-top{
            //@include span-columns($desktop);
            @include set-container-width;
            clear: both;
        }
        .content-bottom{}
        .content-bottom-home{}
        #left-content{@include span-columns(2 alpha,$desktop);}
        #content-inner{
            //@include span-columns(10,$desktop);
            @include set-container-width;
        }
        .middle-content{
            @include span-columns($desktop);
        }
        #right-content{@include span-columns(2 omega,$desktop);}
        #footer{@include span-columns($desktop);
                @include background-size(auto);
        }

    }
    @include at-breakpoint($tablet) {/*   //Dimensions pour les tablettes*/

        #header{}
        #content-global{}
        .content-top{}
        .content-bottom{}
        .content-bottom-home{}
        #left-content{}
        #content-inner{}
        #right-content{}
        #footer{}

    }
}

//Pour le dev, code visuel sur les blocs selon le breakpoint
// à commenter ou supprimer pour la production

body #general{
    //Approche mobile-first,réglage pour mobile
    @include susy-grid-background;
    #header{background: tan;}
    #content-global{}
    .content-top{}
        .content-bottom{}
        .content-bottom-home{}
    #left-content{}
    #content-inner{}
    .middle-content{background-color:deeppink;}
    #right-content{}
    #footer{}
}   
@include at-breakpoint($desktop) {/*    //Dimensions pour les pc*/
    body #general{
        @include susy-grid-background;
        
        #header{background: seashell;}
        #content-global{}
        .content-top{background-color: #999;}
        .content-bottom{}
        .content-bottom-home{}
        #left-content{background: tomato;}
        #content-inner{}
        .middle-content{background-color:yellow;}
        #right-content{background: violet;}
        #footer{}
    }
}
@include at-breakpoint($tablet) {/*   //Dimensions pour les tablettes*/
    body #general{
        @include susy-grid-background;
        
        #header{}
        #content-global{}
        #left-content{}
        #content-inner{}
        #right-content{}
        #footer{}
    }
}
/////////////////////////////////////////////
/*Haut de page  HEADER*/

#header{
	margin:0 auto;
	padding:0;
	}

/*Contenu de page  CONTENT */

#content-global {
	margin:0 auto;
	background-color:RosyBrown;
}
#content-inner,#left-content,#right-content{
height: 100%;
}
/*//////SOUS ENTETE/////*/
.content-top{}
//classe sur le bloc
aside.content_top{
 text-align: center;
}
.content-top-node{
    background-color: #999;
    margin: 0 auto;
    padding: em(5px);  
        }	
/*/// debut des colonnes ///*/
#left-content{
	background-color:#00CC99;
	left:0px;
}

/*/// partie de droite ///*/
#right-content{
background-color:#FF66CC;
}
/*inner content*/
#content-inner{
background-color: #CFD0D2;
}


/*PIED DE CONTENU*/
#content-bottom{
background:#C0c0c0;

}

/*--------------------------------------------
---- LAYOUT POUR PAGE.TPL ET NODE.TPL OVERRIDE
**********************************************
-------------- GENERIQUE --------------------*/

/*//////////////////////\\\\\\\\\\\\\\\\\\\\\\
********** LAYOUT NODE.TPL OVERRIDE **********
\\\\\\\\\\\\\\\\\\\\\\\//////////////////////*/
/*//////////////// COLONNE 1 \\\\\\\\\\\\\\\\*/
.middle-content .colonne-1{
    
    @include at-breakpoint ($mobile){
        //@include set-container-width();
        background: goldenrod;
    }
    @include at-breakpoint ($desktop){
         //@include set-container-width();
         //@include span-columns($desktop);
         background: firebrick;
    }
    @include at-breakpoint ($tablet){
         //@include set-container-width();
    }
}
.middle-content .col1_layout_3_8_3{
    @include at-breakpoint ($mobile){
        //@include span-columns($mobile);
    }
    @include at-breakpoint ($desktop){
        @include span-columns(3 alpha,$desktop);
        
    }
    @include at-breakpoint ($tablet){
        @include span-columns($tablet);
    }
}
.middle-content .col1_layout_4_5_5{
    @include at-breakpoint ($mobile){
        @include span-columns($mobile);
    }
    @include at-breakpoint ($desktop){
        @include span-columns(4 , $desktop);
    }
    @include at-breakpoint ($tablet){
        @include span-columns($tablet);
    }
}
.middle-content .col1_layout_5_9{
    @include at-breakpoint ($mobile){
        @include span-columns($mobile);
    }
    @include at-breakpoint ($desktop){
        @include span-columns(5 , $desktop);
    }
    @include at-breakpoint ($tablet){
        @include span-columns($tablet);
    }
}
/*//////////////// COLONNE 2 \\\\\\\\\\\\\\\\*/
.middle-content .colonne-2{
    @include at-breakpoint ($mobile){
        //@include span-columns($mobile);
        background: hotpink;
    }
    @include at-breakpoint ($desktop){
        //@include span-columns($desktop);
        background: indianred;
    }
    @include at-breakpoint ($tablet){
        //@include span-columns($tablet);
    }

}
.middle-content .col2_layout_3_8_3{
    @include at-breakpoint ($mobile){
        @include span-columns($mobile);
    }
    @include at-breakpoint ($desktop){
        @include span-columns(8);
    }
    @include at-breakpoint ($tablet){
        @include span-columns($tablet);
    }
}
.middle-content .col2_layout_4_5_5{
    @include at-breakpoint ($mobile){
        @include span-columns($mobile);
    }
    @include at-breakpoint ($desktop){
        @include span-columns(5);
    }
    @include at-breakpoint ($tablet){
        @include span-columns($tablet);
    }
}
.middle-content .col2_layout_5_9{
    @include at-breakpoint ($mobile){
        @include span-columns($mobile);
    }
    @include at-breakpoint ($desktop){
        @include span-columns(9);
    }
    @include at-breakpoint ($tablet){
        @include span-columns($tablet);
    }
}
/*//////////////// COLONNE 3 \\\\\\\\\\\\\\\\*/
.middle-content .colonne-3{
    @include at-breakpoint ($mobile){
        //@include span-columns($mobile);
        background: khaki;
    }
    @include at-breakpoint ($desktop){
       // @include span-columns($desktop);
       background: lightpink;
    }
    @include at-breakpoint ($tablet){
        @include span-columns($tablet);
    }
}
.middle-content .col3_layout_3_8_3{
    @include at-breakpoint ($mobile){
        @include span-columns($mobile);
    }
    @include at-breakpoint ($desktop){
        @include span-columns(3);
    }
    @include at-breakpoint ($tablet){
        @include span-columns($tablet);
    }
}
.middle-content .col3_layout_4_5_5{
    @include at-breakpoint ($mobile){
        @include span-columns($mobile);
    }
    @include at-breakpoint ($desktop){
        @include span-columns(5);
    }
    @include at-breakpoint ($tablet){
        @include span-columns($tablet);
    }
}
/*  PAGE STORY TPL  */
#middle-content-story{
    width: 95%;
    margin: 0 auto;
}
.story{
    
}